%h1 デザイン一覧
- @designs.each do |design|
  .image{style: "background-image: url(#{design.image.url(:medium)}); width: 300px; height: 300px;"}
  = design.comment
  %span{id: "like-of-#{design.id}"}
    = render partial: 'likes/like', locals: { design: design, like: @like }
